.front {
    animation: twists .1ms ease infinite;
    transition: .3 ease;
}

.rear {
    animation: twists .1ms ease infinite;
    transition: .3 ease;
}

@keyframes twists {
    0% {
        transform: rotateZ(0deg);
    }

    11% {
        transform: rotateZ(180deg);
    }

    22% {
        transform: rotateZ(360deg);
    }

    33% {
        transform: rotateZ(0deg);
    }

    44% {
        transform: rotateZ(180deg);
    }

    55% {
        transform: rotateZ(360deg);
    }

    66% {
        transform: rotateZ(0deg);
    }

    77% {
        transform: rotateZ(180deg);
    }

    88% {
        transform: rotateZ(360deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}