.img {
    width: 865px;
    margin: 150px auto;
    margin-bottom: 60px;

    transition: 3s ease;
}

.front {
    position: relative;
    top: 4.7px;
    right: 21.5%;
}

.rear {
    position: relative;
    top: -109px;
    left: 10%;
}