@media only screen and (max-width: 1550px) {
    .img {
        margin-bottom: 0;
    }
}

@media only screen and (max-height: 825px) {
    .img {
        /* margin-top: 10px; */
        margin-bottom: -120px;
    }

    .blc_right {
        display: block;
        position: relative;
        top: -110px;
    }

    body {
        overflow: hidden;
    }
}

@media only screen and (max-height: 650px) {
    .img {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1250px) {
    .blc_right {
        display: block;
    }

    .blc_top {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1145px) {
    .blc_top {
        margin-left: -100px;
    }
}



@media only screen and (max-width: 960px) {
    .img {
        position: relative;
        left: -5%;
    }

}

@media only screen and (max-width: 915px) {
    .img {
        position: relative;
        left: -7%;
    }
}